# EditorConfig is awesome: https://EditorConfig.org

# Top-most EditorConfig file
root = true

# Universal settings
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Markdown files
[*.md]
indent_style = space
indent_size = 2
# Markdown files often include significant whitespace
trim_trailing_whitespace = false

# JSON files
[*.json]
indent_style = space
indent_size = 2

